.searchBar {
  color: black;
  padding: 0.5rem;
  width: 400px;
  height: 50px;
  border-radius: 0.75rem;
  outline: none;
  border: 0.15rem solid orange;
  position: relative;
}

.searchButton {
  background-color: white;
  color: orange;
  font-weight: 700;
  font-size: large;
  height: 50px;
  border: 0.15rem solid orange;
  border-radius: 0.75rem;
  padding: 0 1.5rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 1rem;
  cursor: pointer;

  &:hover {
    background-color: orange;
    color: white;
  }
}

.autoCompleteDropdown {
  animation: dropDown 300ms ease-in-out forwards;
  border: 0.06rem solid #c8ccd4;
  background-color: white;
  border-radius: 4px;
  display: block;
  position: absolute;
  text-align: center;
  width: 385px;
  top: 140px;
  flex-grow: 1;
  transform-origin: top center;

  li {
    &:hover {
      background-color: #52f8a5;
      cursor: pointer;
    }
  }

  a {
    padding: 0.25rem 0.75rem;
    color: black;
    display: block;
    text-decoration: none;
  }
}

@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
