.tableHeader, .no-select {
  border-top: 1px #d1d1d1 solid;
  border-bottom: 1px #d1d1d1 solid;

  th {
    background-color: #617ca3;
    color: whitesmoke;
    font-size: 0.8rem;
    font-weight: lighter;
    min-width: 120px;
    padding: 0.5rem 0.5rem;
    letter-spacing: 0.05rem;

    &:hover {
      background-color: rgb(61, 109, 131);
    }
  }

  th:first-child {
    border-right: 1px #d1d1d1 solid;
    padding-left: 1rem;
    text-align: left;
    width: 100%;
  }

  th:not(:first-child):not(:last-child) {
    text-align: center;
    border-right: 1px #d1d1d1 solid;
  }

  th:last-child {
    min-width: 100px;
  }
}

.tableHeaderSelected {
  background-color: #9181d8 !important;
}

.sortArrow {
  mix-blend-mode: luminosity;
}

.tableRow {
  border-bottom: 1px solid;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgb(61, 109, 131);
    border-radius: 1rem;
  }

  span {
    color: #d1d1d1;
    font-size: 0.875rem;
    font-weight: normal;
  }

  td {
    line-height: 10px;
  }

  td:first-child {
    padding-left: 1rem;
  }

  td:not(:first-child):not(:last-child) {
    text-align: center;
    margin: 0 auto;
  }

  td:last-child {
    padding-right: 0.5rem;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
  }
}

.moveCategory {
  margin: 0 auto;
  transform: scale(0.5);
}
