.tableHeader {
  border-top: 1px #d1d1d1 solid;
  border-bottom: 1px #d1d1d1 solid;

  th {
    color: #d1d1d1;
    font-size: 0.9rem;

    &:hover {
      background-color: rgb(74, 52, 83);
    }
  }

  th:first-child {
    text-align: left;
    width: 100%;
    border-right: 1px #d1d1d1 solid;
  }

  th:not(:first-child):not(:last-child) {
    text-align: center;
    padding: 0.25rem 0.5rem;
    min-width: 115px;
    border-right: 1px #d1d1d1 solid;
  }

  th:last-child {
    text-align: right;
    min-width: 85px;
  }
}

.tableRow {
  border-bottom: 1px #d1d1d1 solid;

  &:hover {
    background-color: rgb(74, 52, 83);
  }

  span {
    color: #d1d1d1;
    font-size: 0.875rem;
    font-weight: normal;
  }

  td:not(:first-child):not(:last-child) {
    text-align: center;
    margin: 0 auto;
  }

  td:last-child {
    text-align: right;
  }
}

.moveCategory {
  margin: 0 auto;
  transform: scale(0.5);
}
