.tableHeader {
  border-top: 1px #d1d1d1 solid;
  border-bottom: 1px #d1d1d1 solid;

  th {
    color: #d1d1d1;
    font-size: 0.8rem;

    &:hover {
      background-color: rgb(61, 109, 131);
    }
  }

  th:first-child {
    border-right: 1px #d1d1d1 solid;
    padding-left: 1rem;
    text-align: left;
    width: 100%;
  }

  th:not(:first-child):not(:last-child) {
    text-align: center;
    padding: 0.25rem 0.5rem;
    min-width: 105px;
    border-right: 1px #d1d1d1 solid;
  }

  th:last-child {
    min-width: 60px;
  }
}

.tableRow {
  border-bottom: 1px #d1d1d1 solid;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgb(61, 109, 131);
    border-radius: 1rem;
  }

  span {
    color: #d1d1d1;
    font-size: 0.875rem;
    font-weight: normal;
  }

  td:first-child {
    padding-left: 1rem;
  }

  td:not(:first-child):not(:last-child) {
    text-align: center;
    margin: 0 auto;
  }

  td:last-child {
    padding-right: 0.5rem;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
  }
}

.moveCategory {
  margin: 0 auto;
  transform: scale(0.5);
}
