.pokedexContainer {
  margin: 1rem 0;

  .pokedexKey {
    align-self: center;
    color: #d1d1d1;
    font-size: 0.875rem;
    font-weight: normal;
    padding-right: 1rem;
    width: 50%;
    text-align: right;
  }
}

.pokemonTypeLogo {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-right: 0.5rem;
  text-transform: uppercase;
  width: 66px;
  text-align: center;
}