.container {
  max-width: 600px;
}

.pokedexKey {
  align-self: center;
  color: #d1d1d1;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25rem;
  padding-right: 1rem;
  text-align: right;
  width: 50%;
}
