html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.error {
  background-color: lightcoral;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  font-weight: 600;
  padding: 0.75rem;
}

.search-bar {
  color: black;
  padding: 0.5rem;
  width: 400px;
  height: 50px;
  border-radius: 0.75rem;
  outline: none;
  border: 0.15rem solid orange;
}

.search-button {
  background-color: white;
  color: orange;
  font-weight: 700;
  font-size: large;
  height: 50px;
  border: 0.15rem solid orange;
  border-radius: 0.75rem;
  padding: 0 1.5rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: 1rem;
  cursor: pointer;

  &:hover {
    background-color: orange;
    color: white;
  }
}

.pokemon-type-logo {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0 0.25rem;
  text-transform: uppercase;
  width: 66px;
  text-align: center;
}
