@import 'theme.scss';
@import 'animations.scss';

html,
body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Russo One';
  font-weight: 100;
  line-height: 1.25;
  font-weight: 500;
  font-size: 18px;
  background-color: #1b2330;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: #a0ccfd;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  text-shadow: .25rem .25rem 1rem rgb(0, 0, 0, 75%);
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-weight: lighter;
  text-shadow: .25rem .25rem 1rem rgb(0, 0, 0, 75%);
}

.error-message {
  position: absolute;
  left: 50%;
  width: 388px;
  transform: translate(-67%, 2%);

  span {
    background-color: lightcoral;
    border-radius: 0.25rem;
    color: white;
    display: inline-block;
    font-weight: 600;
    padding: 0.75rem;
    width: 100%;
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.react-tabs__tab {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: whitesmoke;
  background-color: $secondary;
  border: 1px solid white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.react-tabs__tab--selected {
  background-color: #9181d8;
}
