.type-bug {
  background-color: #ab2;
}

.type-dark {
  background-color: #754;
}

.type-dragon {
  background-color: #76e;
}

.type-electric {
  background-color: #fc3;
}

.type-fairy {
  background-color: #e9e;
}

.type-fighting {
  background-color: #b54;
}

.type-fire {
  background-color: #f42;
}

.type-flying {
  background-color: #89f;
}

.type-grass {
  background-color: #7c5;
}

.type-ghost {
  background-color: #66b;
}

.type-ground {
  background-color: #db5;
}

.type-ice {
  background-color: #6cf;
}

.type-normal {
  background-color: #aa9;
}

.type-poison {
  background-color: #a59;
}

.type-psychic {
  background-color: #f59;
}

.type-rock {
  background-color: #ba6;
}

.type-steel {
  background-color: #aab;
}

.type-water {
  background-color: #39f;
}