.pokemonType {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.4rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 70%);
  text-transform: uppercase;
  width: 66px;
}
